[submodule "source/Shared"]
	path = source/Shared
	url = https://github.com/FluBBaOfWard/GBA_Shared.git
[submodule "source/KS5360"]
	path = source/KS5360
	url = https://github.com/FluBBaOfWard/KS5360.git
